In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

In [ ]:
data=pd.read_csv('data/WRF/meteoWRF_2012.csv')
data.head(5)

In [ ]:
data = data.drop(columns="Unnamed: 0")
data.head()

In [ ]:
data['date']=y=pd.to_datetime(data['date'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
data=data.set_index(['idPolair','date'])

In [ ]:
data.sort_index(inplace=True)

In [ ]:
data.isnull().any()

In [ ]:
o3=pd.read_csv('data/training/Challenge_Data_O3_2012.csv')

In [ ]:
o3.isnull().any()

In [ ]:
o3.head()

In [ ]:
o3.drop(columns='Unnamed: 0',inplace=True)

In [ ]:
o3['idPolair']=o3['Organisme']*1000+o3['Station']

In [ ]:
o3.drop(columns=['Organisme','Station'],inplace=True)

In [ ]:
o3['date']=y=pd.to_datetime(o3['Date'], format='%d/%m/%Y %H:%M')

In [ ]:
o3.drop(columns='Date',inplace=True)

In [ ]:
o3.set_index(['idPolair','date'],inplace=True)

In [ ]:
o3.sort_index(inplace=True)

In [ ]:
o3['Valeur']=o3['Valeur'].interpolate(method='linear')

In [ ]:
o3['o3']=o3['Valeur']
o3.drop(columns='Valeur',inplace=True)

In [ ]:
df=pd.merge(data,o3,left_index=True,right_index=True,how='left')

In [ ]:
df

In [ ]:
df.loc[7001].resample('Y').count()

In [ ]:
df.index.levels[0]

In [ ]:
df.isnull().any()

In [ ]:
no2=pd.read_csv('data/training/Challenge_Data_NO2_2012.csv')

In [ ]:
no2.isnull().any()

In [ ]:
no2.drop(columns='Unnamed: 0',inplace=True)

In [1]:
import rpy2.robjects as ro
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from glob import glob
from os.path import join
import pandas
import datetime
import numpy as np
import logging
import os.path
# readRDS = robjects.r['readRDS']
# o3Test = readRDS('./training/measures/Challenge_Data_O3_2012.rds')
# o3Test = pandas2ri.ri2py(o3Test)

In [ ]:
dirname="Data/training/Description_Stations.RData"
year=2016
ro.r['load'](dirname)
sites = ro.r['Description_Stations']
sites = pandas2ri.ri2py(sites)
#sites = pandas2ri.ri2py(sites)
## chimere 
## Dict on Pollutants
## for each pollutant


## Geop
## Dict on sites
## Dataframe with columns 'date', 'idPolair', 'geop_p_500hPa', 'geop_p_850hPa'
print(sites)
x=0
y=0
sites=np.array(sites.idPolair.unique(),int)
sites=np.array(sites,str)
for site in sites:
    fname = join('Data/training/',f"WRF/Geop_02/Geop.{site}.{year}.d02.rds")
    if os.path.isfile(fname):
        #data = loadFile(fname)
        #geops[site] = data
        x=x+1
    else:
        print(site)

print(x)
print(y)

In [ ]:
old=np.array(sites,int)

In [ ]:
new=sites

In [ ]:

old=np.array(old,int)
old.sort()
old

In [ ]:
new=np.array(new,int)
new.sort()
new

In [ ]:
new-old

In [18]:
import utils

In [19]:
x=utils.load_data(dirname='Data/training/')

/home/hussein/anaconda3/lib/python3.6/site-packages/rpy2/robjects/pandas2ri.py:191: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  res = PandasDataFrame.from_items(items)

In [17]:
a=np.array(list(x['geops'].keys()))
np.save('idsPolair',a)
a.shape

(107,)

In [5]:
np.array(a)
a.shape

(74,)

In [ ]:
a,b,c,d=get_data_day(all_data=x,day=20,max_days=10,year=2016)

In [ ]:
a['O3']['idPolair'].unique()

In [ ]:
x['sites'][['Département', 'Zone_EPCI', 'typologie','NO2_influence', 'NO2_2012']].isnull().any()

In [ ]:
x['sites'][['idPolair','coord_x_l93','coord_y_l93','X_lamb2','Y_lamb2','LON','LAT','Département', 'Zone_EPCI', 'typologie']].isnull().any()

In [ ]:
t1=x['chimeres']['NO2'].copy()
t1.drop(columns='param',inplace=True)
t1['date']=pd.to_datetime(t1['date'])
t1.set_index(['idPolair','date'],inplace=True)
t1.sort_index(inplace=True)
t1.interpolate(inplace=True)
t1.columns=['NO2']
t2=x['chimeres']['O3'].copy()
t2.drop(columns='param',inplace=True)
t2['date']=pd.to_datetime(t2['date'])
t2.set_index(['idPolair','date'],inplace=True)
t2.sort_index(inplace=True)
t2.interpolate(inplace=True)
t2.columns=['O3']
t3=x['chimeres']['PM10'].copy()
t3.drop(columns='param',inplace=True)
t3['date']=pd.to_datetime(t3['date'])
t3.set_index(['idPolair','date'],inplace=True)
t3.sort_index(inplace=True)
t3.interpolate(inplace=True)
t3.columns=['PM10']
t4=x['chimeres']['PM25'].copy()
t4.drop(columns='param',inplace=True)
t4['date']=pd.to_datetime(t4['date'])
t4.set_index(['idPolair','date'],inplace=True)
t4.sort_index(inplace=True)
t4.interpolate(inplace=True)
t4.columns=['PM25']
t5=pd.merge(t1,pd.merge(t2,pd.merge(t3,t4,left_index=True,right_index=True),left_index=True,right_index=True),left_index=True,right_index=True)

In [ ]:
t5.loc[15017].head()

In [ ]:
meteo=x['meteo']
meteo.head()

In [ ]:
sites=x['sites'][['idPolair','coord_x_l93','coord_y_l93','X_lamb2','Y_lamb2','LON','LAT']].copy()
sites.fillna(sites.mean(),inplace=True)
sites['idPolair']=pd.to_numeric(sites['idPolair'])
sites.head()

In [ ]:
meteo=pd.merge(meteo,sites,on='idPolair')
meteo['date']=pd.to_datetime(meteo['date'])

In [ ]:
meteo.set_index(['idPolair','date'],inplace=True)
meteo.sort_index(inplace=True)
meteo.interpolate(inplace=True)

In [ ]:
allData=pd.merge(meteo,t5,left_index=True,right_index=True)

In [ ]:
allData.head()

In [ ]:
x.keys()

In [ ]:
geops=x['geops'].copy()
keys = np.fromiter(geops.keys(), dtype=float)

In [ ]:
z=pd.concat(geops.values(),keys=keys)
z['date']=pd.to_datetime(z['date'])
z.set_index(['idPolair','date'],inplace=True)
z.sort_index(inplace=True)
z.interpolate(inplace=True)

In [ ]:
z.dtypes

In [ ]:
allData=pd.merge(allData,z,left_index=True,right_index=True)

In [ ]:
conc.keys()

In [ ]:
conc=x['concentrations']
NO2=conc['NO2']
O3=conc['O3']
PM10=conc['PM10']
PM25=conc['PM25']
NO2['NO2']=NO2['Valeur']
O3['O3']=O3['Valeur']
PM10['PM10']=PM10['Valeur']
PM25['PM25']=PM25['Valeur']
NO2.drop(columns=['Organisme','Station','Mesure','Valeur'],inplace=True)
O3.drop(columns=['Organisme','Station','Mesure','Valeur'],inplace=True)
PM10.drop(columns=['Organisme','Station','Mesure','Valeur'],inplace=True)
PM25.drop(columns=['Organisme','Station','Mesure','Valeur'],inplace=True)
result=pd.merge(NO2,pd.merge(O3,pd.merge(PM10,PM25,on=['idPolair','date'],how='outer'),on=['idPolair','date'],how='outer'),on=['idPolair','date'],how='outer')

In [ ]:
result=pd.merge(NO2,pd.merge(O3,pd.merge(PM10,PM25,on=['idPolair','date'],how='outer'),on=['idPolair','date'],how='outer'),on=['idPolair','date'],how='outer')

In [ ]:
result['idPolair']

In [ ]:
O3.shape

In [ ]:
t6 = x['concentrations']['NO2']
t6.drop(columns=['Organisme','Station','Mesure'], inplace=True)
t6['date'] = pd.to_datetime(t6['date'])
t6.set_index(['idPolair', 'date'], inplace=True)
t6.sort_index(inplace=True)
t6.interpolate(inplace=True)
t6.columns = ['NO2']

In [ ]:
t6.loc['15013']

In [20]:
t1=x['chimeres']['NO2']

In [21]:
t1.head()

                  date   val  idPolair param
0  2016-01-01 00:00:00   9.9   15017.0   NO2
1  2016-01-01 00:00:00  10.0   15018.0   NO2
2  2016-01-01 00:00:00  10.0   15038.0   NO2
3  2016-01-01 00:00:00  10.0   15039.0   NO2
4  2016-01-01 00:00:00  10.0   15043.0   NO2

In [25]:

t1['date']=pandas.to_datetime(t1['date'])
t1.set_index(['idPolair','date'],inplace=True)
t1.sort_index(inplace=True)
t1.interpolate(inplace=True)
t1.columns=['NO2']

In [28]:
t1.loc[15013]

                      NO2
date
2016-01-01 00:00:00   9.8
2016-01-01 01:00:00   9.0
2016-01-01 02:00:00   7.3
2016-01-01 03:00:00   6.4
2016-01-01 04:00:00   6.5
2016-01-01 05:00:00   7.1
2016-01-01 06:00:00  11.5
2016-01-01 07:00:00  17.7
2016-01-01 08:00:00  16.2
2016-01-01 09:00:00  12.4
2016-01-01 10:00:00  14.6
2016-01-01 11:00:00  18.4
2016-01-01 12:00:00  19.3
2016-01-01 13:00:00  18.1
2016-01-01 14:00:00  17.3
2016-01-01 15:00:00  19.8
2016-01-01 16:00:00  21.7
2016-01-01 17:00:00  16.9
2016-01-01 18:00:00   6.7
2016-01-01 19:00:00   3.2
2016-01-01 20:00:00   2.0
2016-01-01 21:00:00   1.2
2016-01-01 22:00:00   0.9
2016-01-01 23:00:00   0.8
2016-01-02 00:00:00   0.6
2016-01-02 01:00:00   0.7
2016-01-02 02:00:00   0.6
2016-01-02 03:00:00   0.6
2016-01-02 04:00:00   0.8
2016-01-02 05:00:00   1.2
...                   ...
2016-12-30 19:00:00  41.8
2016-12-30 20:00:00  32.2
2016-12-30 21:00:00  24.9
2016-12-30 22:00:00  20.3
2016-12-30 23:00:00  17.1
2016-12-31 00:00:00  13.9
2016-12-31 01:00:00  13.3
2016-12-31 02:00:00  12.4
2016-12-31 03:00:00  12.1
2016-12-31 04:00:00  14.4
2016-12-31 05:00:00  17.2
2016-12-31 06:00:00  18.7
2016-12-31 07:00:00  23.5
2016-12-31 08:00:00  28.6
2016-12-31 09:00:00  29.8
2016-12-31 10:00:00  31.3
2016-12-31 11:00:00  33.1
2016-12-31 12:00:00  33.8
2016-12-31 13:00:00  34.4
2016-12-31 14:00:00  38.0
2016-12-31 15:00:00  43.6
2016-12-31 16:00:00  51.4
2016-12-31 17:00:00  50.5
2016-12-31 18:00:00  50.2
2016-12-31 19:00:00  49.9
2016-12-31 20:00:00  46.0
2016-12-31 21:00:00  39.6
2016-12-31 22:00:00  33.5
2016-12-31 23:00:00  28.8
2017-01-01 00:00:00  24.2

[8785 rows x 1 columns]