In [1]:
from training_data import join_all_sites
X,y=join_all_sites('final data set/data.csv')

loading data
7001.0

/home/hussein/PycharmProjects/team_first_place/training_data.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  group['date'] = pd.to_datetime(group['date'])
/home/hussein/PycharmProjects/team_first_place/training_data.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  data[col+'_t+'+str(i)]=data[col].shift(sig*i)

7004.0
7009.0
7010.0
7011.0
7012.0
7013.0
7014.0
7015.0
7016.0
7017.0
7018.0
7020.0
7022.0
7028.0
7029.0
7031.0
7032.0
7034.0
7039.0
7042.0
7043.0
7045.0
7048.0
7049.0
7051.0
7052.0
7053.0
7054.0
7056.0
7057.0
7058.0
15013.0
15017.0
15018.0
15031.0
15038.0
15039.0
15043.0
15045.0
15046.0
15048.0
15049.0
15114.0
20004.0
20013.0
20017.0
20019.0
20029.0
20031.0
20037.0
20045.0
20046.0
20047.0
20048.0
20049.0
20061.0
20062.0
20063.0
20065.0
20069.0
20070.0
27002.0
27003.0
27004.0
27005.0
27007.0
27008.0
27010.0
29421.0
29423.0
29424.0
29426.0
29428.0
29429.0
29439.0
29440.0
29441.0
33101.0
33102.0
33105.0
33111.0
33114.0
33120.0
33121.0
33122.0
33201.0
33202.0
33203.0
33211.0
33212.0
33213.0
33220.0
33232.0
33233.0
33235.0
33302.0
33303.0
33305.0
33367.0
33374.0
33414.0
36001.0
36002.0
36003.0
36005.0
36019.0
36021.0

In [5]:
X.to_csv('X.csv')

In [7]:
y.to_csv('y.csv')

In [ ]:
import pandas as pd
sites_info=pd.read_csv('sites.csv')
sites_info.set_index('idPolair',inplace=True)

In [ ]:
sites_info.head()

In [ ]:
sites_info.columns

In [ ]:
sites_info[['coord_x_l93', 'coord_y_l93', 'X_lamb2',
       'Y_lamb2', 'LON', 'LAT']]

In [8]:
import numpy as np

In [38]:
matrix=np.array([[1,2,3],[2,3,4],[1,2,1],[9,9,9]])

In [31]:
matrix.shape

(4, 3)

In [32]:
z=np.append(matrix,[1,1,1])

In [33]:
matrix.shape[0]

4

In [39]:
matrix=matrix[::-1]
matrix=matrix[:10]
i=matrix.shape[0]
m=matrix.mean(0)
while (i-10)<0:
    matrix=np.append(matrix,m)
    i=i+1
matrix=np.append(matrix,[])
matrix

array([9.  , 9.  , 9.  , 1.  , 2.  , 1.  , 2.  , 3.  , 4.  , 1.  , 2.  ,
       3.  , 3.25, 4.  , 4.25, 3.25, 4.  , 4.25, 3.25, 4.  , 4.25, 3.25,
       4.  , 4.25, 3.25, 4.  , 4.25, 3.25, 4.  , 4.25])

In [40]:
matrix.shape

(30,)

In [46]:
y.head(10).shape

(10, 12)

In [42]:
import prediction

In [52]:
y.head(1)

,NO2,O3,PM10,PM25,NO2_t+1,O3_t+1,PM10_t+1,PM25_t+1,NO2_t+2,O3_t+2,PM10_t+2,PM25_t+2
0,4.333333,61.625,22.551447,22.450259,2.041667,59.458333,22.551447,22.450259,5.666667,41.375,22.551447,22.450259